<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Factura Venta</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <head th:replace="clientes/plantillas :: head"></head>      
                </head>
                <body>
                    <header th:replace="producto :: header"></header>
                    <div class="container">
                        <div class="row">
                            <div>
                                <h1>Factura</h1>
                            </div>
                            <div>
                                <h4>Bucar Cliente</h4>
                                <form th:action="@{/api/factura/cliente}" method="Get">
                                    <div class="facturaBusqueda" > 
                                        <input class="form-control" style="width: 50%" id="idcliente" name="idcliente" required="true" type="number" placeholder="Ingresa el id del cliente">
                                            <button class="btn btn-info" type="submit" >
                                                <i class="fa-solid fa-magnifying-glass lupa"></i>Buscar
                                            </button> 
                                            <a class="btn btn-success boton-arrow" th:href="@{/api/venta}">
                                              <i class="fa-sharp fa-solid fa-arrow-left"></i>  Regresar 
                                            </a> 
                                    </div> 
                                </form>

                            </div>
                        </div>
                        <div class="row">
                            <div th:if="${cliente != null}">
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {

                                        Swal.fire({
                                            position: "top-end",
                                            icon: "success",
                                            title: "Cliente encontrado",
                                            showConfirmButton: false,
                                            timer: 1500
                                        });

                                    });


                                </script>
                                <section th:object="${cliente}">
                                    <div class="cliente-factura">
                                        [[${cliente.nombre}]] [[${cliente.apellidoP}]] [[${cliente.apellidoM}]]
                                    </div>

                                </section>
                            </div>
                            <div th:if="${cliente == null and Errorcli  != null}">

                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        Swal.fire({
                                            title: "Error",
                                            text: "EL Cliente No existe",
                                            icon: "info",
                                            timer: 2000
                                        });

                                    });
                                    setTimeout(() => {
                                        window.location.href = "/api/venta/factura"
                                    }, 2010);


                                </script>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <section th:replace="venta\ventaFactura :: ProductosVenta"></section>
                        </div>
                    </div>
                    <footer th:replace="clientes/plantillas :: footer"></footer> 
                </body>
                </html>
